*{
  padding: 0;
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.container{
  margin-top: 3.125rem;
}

.container img{
  height: 13.125rem;
}

.container .row{
  margin-top: 2.188rem;
}

.container button{
  padding: 10px;
  background: linear-gradient(rgb(22, 165, 22),rgb(68, 199, 68));
  box-shadow: 2px 5px 10px black;
  color: white;
  width: 9.375rem;
  margin-top: 25px;
  border-radius: 10px;
  outline: none;
}



@media (min-width: 1200px){
  .container{
    max-width: 1300px;
  }
}

@media (max-width: 576px){
  img{
    margin: 10px auto;
    max-width: 80%;
  }
  h2, button{
    margin-left: 4.688rem;
  }
  button{
    margin-left: 11rem;
  }
}
